APP_ENV=development
APP_PORT=8080
APP_DEBUG=true
APP_API_VERSION=v1
APP_API_PREFIX=/api
LOG_LEVEL=debug

POSTGRES_MASTER_HOST=localhost
POSTGRES_MASTER_PORT=5439
POSTGRES_MASTER_USER=postgres
POSTGRES_MASTER_PASSWORD=postgres
POSTGRES_MASTER_DB=book_hive

POSTGRES_SLAVES_HOST=localhost
POSTGRES_SLAVES_PORT=5439
POSTGRES_SLAVES_USER=postgres
POSTGRES_SLAVES_PASSWORD=postgres
POSTGRES_SLAVES_DB=book_hive

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_ACCESS_TOKEN_TTL=900
JWT_REFRESH_TOKEN_TTL=604800